{% extends 'main/base.html' %}

{% block main %}
    <div class="container">
        <div class="jumbotron text-center mt-4">
            <h1 class="display-4">Help partners submit valid data</h1>
            <p class="lead">and correct errors on their own</p>
        </div>
        <div class="my-5">
            <ul>
                <li>Autogenerate a csv parser from a valid example</li>
                <li>Make adjustments with a few clicks</li>
                <li>Get a sharable URL so your colleagues can validate their files with immediate feedback</li>
                <li>Use the same parser in production if you wish</li>
            </ul>
        </div>
        <div class="row my-5">
            <div class="col-lg-6">
                <h2 class="mb-3">How it works</h2>
                <ol>
                    <li>Load your CSV file.</li>
                    <li>Let Dataplumber.app guess data types for each column.</li>
                    <li>Customize your column parsers using Python.</li>
                    <li>Generate a URL for others to validate their data.</li>
                </ol>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-3">Features</h2>
                <ul>
                    <li>Data never leaves your browser</li>
                    <li>Automatic data type detection</li>
                    <li>Supplies generated parser code</li>
                    <li>Custom python column parsers for those who know how to code</li>
                    <li>Data validation against an existing format via sharable URL</li>
                    <li>Open source codebase <a href="https://github.com/jwiltshiregordon/data-plumber">(github)</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
